.rocket-home {
  right: 100px;
  top: 30px;

  @media screen and (max-width: 768px) {
    right: 0;
    position: relative !important;
  }
}

.building {
  max-width: 555px;

  @include centerer(false, true);

  top: 220px;
  left: 100px;
}

.elements {
  position: absolute;
}

.cloud-big-1 {
  left: 200px;
  top: -20px;
}

.cloud-big-2 {
  right: -80px;
  top: 80px;

  @media screen and (max-width: 767) {
    right: -300px;
  }
}

.cloud-small-1 {
  top: 100px;
  left: 100px;
}

.cloud-small-2 {
  top: -50px;
  right: 0;
}

.modal {
  .modal-header,
  .modal-footer {
    border: none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    @media screen and (min-width: 1200px) {
      width: 700px;
    }

    .close {
      z-index: 999;
      position: absolute;
      top: 5px;
      right: 15px;
    }
  }

  .modal-content {
    border-radius: 0;
    border-bottom: 5px $site-orange-color solid;

    &.general {
      padding: 20px;
    }
  }

  .title-header {
    span {
      font-size: 11px;
      color: #bcbcbc;
    }
  }

  .contact-form {
    padding: 25px;

    .form-group {
      margin: 0;

      .form-control {
        border-radius: 0;
      }

      textarea {
        width: 100%;
        resize: none;
        padding: 10px;
        min-height: 200px;
        border: 1px solid #ccc;
      }
    }

    .btn-xl {
      padding: 10px !important;
    }
  }

  .contact-details {
    @media screen and (min-width: 1200px) {
      position: absolute;
      height: 100%;
      right: 0;
    }

    padding: 25px;
    border-left: #e8e8e8 thin solid;
    background-color: #f7f7f7;

    .contacts {
      padding-bottom: 15px;
      border-bottom: 1px #e8e8e8 solid;

      table {
        font-size: 11px;

        td {
          border: none;
        }
      }
    }

    .social-networks {
      position: relative;

      li {
        margin-bottom: 20px;
      }

      .icon {
        font-size: 35px;
        color: #0098fc;
        position: absolute;
      }

      .url {
        padding-left: 40px;

        span
        , a {
          font-size: 12px;
        }
      }
    }
  }
}
