.rocket-home {
  right: 100px;
  top: 30px;
}

.building {
  max-width: 555px;

  @include centerer(false, true);

  top: 220px;
  left: 100px;
}

.elements {
  position: absolute;
}

.cloud-big-1 {
  left: 200px;
  top: -20px;
}

.cloud-big-2 {
  right: -80px;
  top: 80px;
}

.cloud-small-1 {
  top: 100px;
  left: 100px;
}

.cloud-small-2 {
  top: -50px;
  right: 0;
}
