html,
body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;

  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 80px;
}

h1, h2, h3 {
  font-weight: 600;
}

.unpadded {
  padding: 0 !important;
}

.action-button {
  width: 323px;
  margin: 0 auto;
  float: none;
  position: relative;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  font-size: 12px !important;
  padding: 5px 15px !important;
  margin-top: 10px;
  color: #fff !important;
  border: none;
  font-weight: 600;

  &:hover {
    opacity: 0.8;
  }

  &.orange {
    background-color: $site-orange-color;
  }

  &.black {
    background-color: $site-black-color;
  }

  &.btn-xl {
    padding: 20px 100px !important;
    font-size: 14px !important;

    i {
      font-size: 25px;
      position: absolute;
      left: 70px;
    }
  }
}

.section-container {
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  clear: both;
}
