.home {
  height: 100vh;
  background-image: url('../img/home-bg.png');
  background-repeat: no-repeat;
  background-position: 790px center;
}

.section-title {
  float: none;
  margin: 0 auto;
}

.how {}
