.home {
  background-image: url('../img/home-bg.png');
  background-position: 700px center;
}

.section-title {
  float: none;
  margin: 0 auto;
}

.how {
  .events-content {
    h2 {
      font-size: 25px;
    }

    p {
      margin-bottom: 10px !important;
    }

    .slide-image {
      position: absolute;
      width: 140px;
      left: 10px;
      top: 20px;
    }
  }
}

.benefits {
  background-image: url('../img/bg-benefits.jpg');
}
